<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, td, tr {
            border: 3px gray double;
            border-radius: initial;
        }
    </style>
</head>
<body>
<h1>Hello from linux to Spring once again</h1>
<div>
  <i> {{name}} </i>
</div>
</body>
</html>